.imgsContainer,
.compressedContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.imgsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.compressedContainer {
    width: 65%;
}
.imgCard {
    width: 22%;
    height: 240px;
    margin-bottom: 3%;
}
.imgsContainer img,
.compressedContainer img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    cursor: pointer;
}
.imgsWrapper {
    width: 100%;
}
.compressedContainer .imgCard {
    width: 30%;
    height: 240px;
    margin-bottom: 3%;

    /* transition: width 1s ease-in-out; */
}
.des {
    color: #575c60cc;
    font-size: 0.7em;
    font-weight: 500;
}
.des a {
    color: #575c60cc;
    font-size: 0.9em;
}
@media screen and (max-width: 900px) {
    .compressedContainer {
        width: 100%;
        margin-top: 2%;
        justify-content: space-between;
    }
    .des a {
        display: none;
    }
    .imgsContainer .imgCard {
        width: 45%;
        margin-bottom: 5%;
    }
    .compressedContainer .imgCard {
        width: 45%;
        margin-bottom: 5%;
    }
}
