.header {
    padding: 1%;
    display: flex;
    align-items: center;
    width: 90%;
    height: 10vh;
}
.logo {
    /* width: 30px; */
    padding-left: 1%;
    width: 10%;
    /* height: 80%; */
    /* height: 30px; */
    /* margin-right: 2em; */
}
.logo img {
    height: 100%;
    width: 100%;
}
.searchBox {
    display: flex;

    border: 1px solid transparent;
    border-radius: 24px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    background: #fff;
    padding: 0.8%;
    width: 300px;
    outline: none;
    border-radius: 24px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.searchBox input {
    outline: none;
    width: 90%;
    border: none;
}

.searchBox input:hover {
    outline: none;
    border: none;
}
.searchBox:focus-within span,
.hide {
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
}
/* .hide {
    visibility: hidden;
    transition: 0.2s;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
} */
@media screen and (max-width: 900px) {
    .searchBox {
        margin: 0;
        margin-left: 3%;
    }
}
